/* STYLE SECTIONING TAGS */
* { /* Reset the space of the webpage */
   margin: 0px;
   padding: 0px;
}

body{
 background-color: white; 
}

/* HOME PAGE */
#overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:white;
    z-index: 2;
    cursor: pointer;
    font-size:120%;
    text-align:center;

}


/* NAVIGATION BAR */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: black;
}

li {
  display: inline;
  float: right;
}

li a {
  display: inline-block;
  color: white;
  font-family: Gill Sans, sans-serif;
  font-size: 125%;
  text-align: center;
  padding: 14px 40px;
  text-decoration: none;
}

li a:hover {
  background-color: #403F40;
  color: white;
}

.active {
  background-color: 	#CDA9E3;
  color: black;
}


/* ACTION PAGE */

/* HEADER */
#action-header {
  color: black;
  background-image: url("assets/action.png");
  text-align: center;
  padding: 150px 0 150px 0;
  font-family: Impact, fantasy;
  font-size: 530%;
}

#action-subheader{
  color: white;
  font-family: Gill Sans, sans-serif;
  font-weight: lighter;
  font-size: 30%;
  background-color: rgba(1,1,1,0.5);
  padding: 10px 0 10px 0;
  margin: 0 25% 0 25%;
}

/* BODY */
.action-subheader-2{
  color: black;
  font-family: Gill Sans, sans-serif;
  font-size: 300%;
  margin: 4% 3% 2% 3%;
}

.action-text{
  color: black;
  font-family: Gill Sans, sans-serif;
  /*font-family: Trebuchet MS, sans-serif;*/
  font-weight: lighter;
  font-size: 40%;
  margin: 2% 0 4% 0;
  line-height: 1.3;
}

.learn-more{
  color: black;
  font-family: Gill Sans, sans-serif;
  background-color: #CDA9E3;
  font-size: 110%;
  padding: 1.7%;
  text-decoration: none;
  margin: 4% 3% 0 17%;
}

h3 a:hover{
  background-color: #BE9ED2;
  text-decoration: underline;
}

.left{
  height: 25em;
  margin: 3%;
  float: left;
}

.right{
  height: 25em;
  margin: 3%;
  float: right;
}

/* ADVOCACY */

h4{
  margin: 3%;
}

h4 a:hover{
  background-color: #403F40;
  text-decoration: underline;
}

#title{
    background-image: url("assets/activist_project.webp");
    padding:15%;
    text-align: center;
    color: white;
    font-family: Impact, fantasy;
  font-size: 430%;
    
}

.back-button{
  color: white;
  font-family: Gill Sans, sans-serif;
  background-color: black;
  padding: 1.5%;
  text-decoration: none;
  font-size: 130%;
}

.additional-title{
  color: black;
  font-family: Impact, fantasy;
  font-size: 500%;
  padding: 3%;
  background-color: #CDA9E3;
}

.additional-subheader{
  color: black;
  font-size: 50%;
  font-family: Gill Sans, sans-serif;
  font-weight: lighter;
}

.flexboxImg{
  width: 200px;
  display: block;
  /*margin-left: auto;
  margin-right: auto;*/
  float: left;
  padding: 2.5% 2.5% 0.5% 2.5%;
  background-color: #E8E7E9;
  margin: 0 0 0 8%;
}

.flex-header{
  color: white;
  font-family: Gill Sans, sans-serif;
  background-color: black;
  padding: 1%;
  margin: 10% 8% 0 8%;
  text-align: center;
}

.flex-subheader{
  color: black;
  background-color: #E8E7E9;
  font-family: Gill Sans, sans-serif;
  padding: 3% 3% 0 3%;
  margin: 0 8% 0 8%;
  text-decoration: none;
}

.flex-subheader-2{
  color: black;
  background-color: #E8E7E9;
  font-family: Gill Sans, sans-serif;
  padding: 0.5% 3% 0 3%;
  margin: 0 8% 0 8%;
}

.flex-text{
  color: black;
  background-color: #E8E7E9;
  font-family: Gill Sans, sans-serif;
  font-weight: lighter;
  padding: 2.5%;
  margin: 0 8% 0 8%;
  /*text-size: 120%;*/
  line-height: 1.3;
}

#flex-button{
  color: purple;
  font-weight: normal;
}

/* DONATE */

.donateImg{
  width: 250px;
  border-radius: 50%;
  margin: 15% 0 5% 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.donate-header{
  color: black;
  font-family: Gill Sans, sans-serif;
  padding: 0 5% 0 5%;
  text-align: center;
}

.donate-text{
  color: black;
  font-family: Gill Sans, sans-serif;
  font-weight: lighter;
  margin: 4% 15% 5% 15%;
  text-align: center;
  line-height: 1.3;
}

h2 a:hover{
  background-color: #BE9ED2;
  text-decoration: underline;
}

.donate-button{
  color: black;
  font-weight: bolder;
  background-color: #CDA9E3;
  text-decoration: none;
  padding: 6%;
  margin: 2%;
}

/* initializing flexbox */

.flexboxContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.flexboxItem{
  flex-basis: 100%;
}






#myBtn {
  /* Center button as a block element */
  display: block;
  margin: 0 auto;

  /* add spacing within the button */
  padding: 5px;

  /* add space around the button */
  margin-top: 30px;
  margin-bottom: 15px;

  /* change background color */
  background-color: #CDA9E3;

  /* font size/button size */
  font-size: 20px;
    font-family: Gill Sans, sans-serif;

  /* round the button slightly */
  border-radius: 4px;
}

/* WEBSITE FOOTER */
#footer {
  color: white;
  background-color: black;
  font-family: Gill Sans, sans-serif;
  font-weight: ligher;
  font-size: 90%;
  line-height: 1.7;
  padding: 2%;
  text-align: center;
}

.footer-href {
  color: white;
}
#home-page-subheading{
    text-align: center;
    font-size: 165%;
    background-color: #CDA9E3;
    padding:10px;
    color: black;
  font-family: Impact, fantasy;
  font-weight: bolder;
    letter-spacing: 1px;
}

.home-about{
    font-size: 150%;
    padding:10px;
    text-align: center;
    color: black;
    margin-left:5px;
    margin-right:5px;
  font-family: Gill Sans, sans-serif;
  font-weight: lighter;
     line-height: 1.3;
}

#quote{
     text-align: center;
    font-size: 145%;
    margin-bottom: 10px;
    margin-top:10px;
    margin-left:5px;
    margin-right:5px;
    font-family: Gill Sans, sans-serif;
  font-weight: lighter;
     line-height: 1.3;
}

#source{
    text-align: center;
     font-family: Gill Sans, sans-serif;
  font-weight: lighter;
     line-height: 1.3;
    font-size: 120%;
    margin-top:5px;
    margin-bottom:15px;
    margin-left:5px;
    margin-right:5px;
}
